$black: #000;
$white: #fff;
$yellow: #FFAC12;
$gray: #979797;
$bg: #F5F5F5;

%dmsans-700 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 700;
}

%dmsans-400 {
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;
}

%transition {
  transition: background-color 0.3s ease-in-out, text-decoration 0.3s ease-in-out, box-shadow 0.3s ease-in-out, opacity 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.3s ease-in-out, fill 0.3s ease-in-out, border 0.3s ease-in-out, background-color 0.3s ease-in-out, opacity 0.3s ease-in-out, translate 0.3s ease-in-out, stroke 0.3s ease-in-out;
}