@import "vars";
@import "fonts";
@import "global";
@import "media";
@import "reset";
@import "libs";

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 10;
  min-height: 100vh;
  padding-bottom: 150px;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(
      199deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.84) 100%
    );
  }

  &__logo {
    margin-right: auto;
    @extend %transition;

    &:hover {
      opacity: 0.5;
    }
  }

  &__content {
    padding-top: 118px;
  }

  &__title {
    max-width: 519px;
    color: $white;
    font-size: 80px;
    @extend %dmsans-700;
    line-height: 1;
    letter-spacing: -2.01px;
    margin-bottom: 22px;
  }

  &__text {
    max-width: 428px;
  }

  &__link-info {
    background-color: $white;
    width: 1030px;
    color: $black;
    @extend %dmsans-700;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    padding-left: 40px;
    border-radius: 25px 25px 0 0;
    padding: 37px 0 37px 40px;
    @extend %transition;
    
    &:hover {
      background-color: $yellow;
    }
    
    & svg {
      @extend %transition;
      width: 24px;
      height: 12px;
      fill: $yellow;
      margin-left: 15px;
      transform: scale(100px);
    }

    &:hover svg {
      transform: translateX(700px);
      fill: $black;
    }
  }
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;

  &__list {
    display: flex;
    margin-right: 60px;
  }

  &__list-item {
    @extend %dmsans-700;
    color: $white;
    font-size: 15px;

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  &__list-link {
    @extend %transition;

    &:hover {
      color: $yellow;
    }
    
  }

  &__link {
    border-radius: 0px 18px 0px 0px;
    padding: 14px 69px 14px 40px;
    background-color: $yellow;
    color: $black;
    font-size: 17px;
    @extend %dmsans-700;
    position: relative;
    @extend %transition;

    &:hover {
      background-color: $white; 
    }

    & svg {
      width: 20px;
      height: 10px;
      fill: $white;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 29px;
      @extend %transition;
    }

    &:hover svg {
      fill: $black;
    }
  }
}

.footer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 150px;

  &__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__top-link {
    padding: 25px 69px 23px 40px;
    position: relative;
    @extend %transition;

    &:hover {
      background-color: $white;
    }

    & svg {
      width: 20px;
      height: 10px;
      position: absolute;
      fill: $white;
      top: 50%;
      transform: translateY(-50%);
      right: 29px;
      @extend %transition;
    }

    &:hover svg {
      fill: $black;
    }

  }

  &__top-text {
    font-size: 42px;
    @extend %dmsans-700;
    letter-spacing: -1.055px;

    & span {
      color: $yellow;
    }
  }

  &__bottom-inner {
    display: grid;
    grid-template-columns: 134px 670px;
    gap: 270px;
    padding-top: 60px;
  }

  &__bottom-list {
    display: flex;
    align-items: center;
  }

  &__bottom-link {
    margin-bottom: 30px;
    @extend %transition;

    &:hover {
      opacity: 0.5;
    }
  }

  &__bottom-item:not(:last-child) {
    margin-right: 40px;
  }

  &__bottom-social {
    & svg {
      width: 22px;
      height: 22px;
      fill: $white;
      @extend %transition;
    }

    &:hover svg {
      fill: $yellow;
    }
  }

  &__bottom-links {
    display: grid;
    grid-template-columns: 115px 115px 115px;
    gap: 159px;
  }

  &__bottom-nav-title {
    font-size: 15px;
    letter-spacing: -0.377px;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }

  &__bottom-nav-item {
    color: $gray;
    font-size: 15px;
    letter-spacing: -0.377px;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__bottom-nav-link {
    @extend %transition;

    &:hover {
      color: $yellow;
    }
  }
}

.about {
  background-position: left;
  background-repeat: no-repeat;
  background-size: 704px 737px;
  padding-top: 66px;
  padding-bottom: 150px;

  &__content {
    margin-left: auto;
    max-width: 474px;
    padding: 113px 0 240px 0;
  }

  &__title {
    margin-bottom: 20px;
    padding-top: 21px;
    position: relative;
  }

  &__text {
    color: $black;
    opacity: 0.6;
    margin-bottom: 30px;
  }

  &__link {
    display: inline-block;
    background-color: $black;
    color: $white;
    position: relative;
    @extend %transition;

    &:hover {
      background-color: $yellow;
      color: $black;
    }

    & svg {
      position: absolute;
      @extend %transition;
      width: 20px;
      height: 10px;
      fill: $white;
      right: 29px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:hover svg {
      fill: $black;
    }
  }
}

.benefits {
  background-color: $bg;
  padding-bottom: 222px;

  &__title {
    margin-bottom: 60px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;

    .jq-selectbox__trigger-arrow {
      position: absolute;
      background-image: url("../images/icons/arrow-down.svg");
      top: 13px;
      right: 0;
      width: 12px;
      height: 8px;
      border: none;
    }

    .jq-selectbox__trigger {
      position: absolute;
      top: 0;
      right: 0;
      width: 34px;
      height: 100%;
      border-left: 1px solid transparent;
    }

    .jq-selectbox__select {
      height: 32px;
      padding: 0 21px 0 0;
      border: 1px solid transparent;
      border-bottom-color: transparent;
      border-radius: none;
      background: transparent;
      @extend %dmsans-700;
      font-size: 17px;
      letter-spacing: -0.427px;
      color: $black;
      text-shadow: transparent;
    }
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;

  &__item {
    border-radius: 25px;
    box-shadow: 0px 32px 34px 0px rgba(0, 0, 0, 0.13);
    @extend %dmsans-700;
    max-width: 336px;
  }

  &__img {
    border-radius: 25px 25px 0 0;
  }

  &__title {
    color: $black;
    font-size: 24px;
    letter-spacing: -0.603px;
    margin-bottom: 30px;
    padding: 30px 30px 0 30px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e4e4e4;
  }

  &__link {
    position: relative;
    padding: 18px 38px 20px 63px;
    border-right: 1px solid #e4e4e4;
    color: $black;
    font-size: 17px;
    letter-spacing: -0.427px;
    @extend %transition;

    & svg {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 26px;
      @extend %transition;
    }

    &:hover {
      color: $yellow;
    }

    &:hover svg {
      fill: $yellow;
    }
  }
}

.info {
  background: linear-gradient(226deg, #271a00 0%, rgba(0, 0, 0, 0.98) 100%);
  text-align: center;
  min-height: 674px;
  padding: 150px 0;

  &__content {
    max-width: 475px;
    margin: 0 auto;
  }

  &__title {
    color: $white;
    margin-bottom: 20px;

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__text {
    opacity: 0.6;
    margin-bottom: 30px;
  }

  &__link {
   @extend %transition; 
   position: relative;

   &:hover {
    background-color: $white;
   }

   & svg {
    position: absolute;
    width: 20px;
    height: 10px;
    right: 29px;
    top: 50%;
    transform: translateY(-50%);
   }
  }

}

.reviews {
  padding: 150px 0;

  &__title {
    max-width: 328px;
    font-size: 24px;
    letter-spacing: -0.603px;
    @extend %dmsans-700;
    color: $black;
    position: relative;
    padding-top: 40px;
    margin: 0 auto 60px auto;

    &::after {
      border-radius: 2px;
      left: 0;
      top: 0;
      content: "";
      position: absolute;
      width: 336px;
      height: 4px;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 172, 18, 1) 35%
      );
    }
  }

  &__list-items {
    display: flex;
  }

  &__list-item:not(:last-child) {
   margin-right: 30px;
  }

  &__list-link {
    color: $black;
    padding: 46px 134px 46px 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    letter-spacing: -0.377px;
    @extend %dmsans-700;
    @extend %transition;

    &:hover {
      background-color: $black;
      color: $white;
    }
  }

  &__list-img {
    border-radius: 50%;
    margin-right: 20px;
  }

  &__list-name span {
    color: $gray;
  }
}
